

/* .btn{
    background-color: transparent;
    border:none;
    border-radius: 4px;
    padding:10px;
    padding-top: 8px;
    text-align: center;

    background: red;

    color:yellow;
    cursor:pointer;
    margin:5px;
} */


/* .btn:hover{
    color:red;
} */