.dumb{


    display: grid;
    grid-template-columns: repeat(4,1fr);
    width:10%;
    grid-gap:5px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

border:1px solid red;

}
